/* account page ---------- */
h1 {
    font-size: 18px;
}

h2 {
    font-size: 20px;
}

main {
    display: grid;
    grid-template-columns: min-content minmax(min-content, 1fr) min-content;
    grid-template-rows: min-content 1fr;
}

#accountnav {
    grid-column: 2 / 4;
    grid-row: 1 / 2;

    padding: var(--gap-m);
}

#folderlist {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    overflow: auto;
    resize: horizontal;

    border-top: 1px lightgray solid;
}

#messagelist {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    overflow-y: scroll;
    min-width: 21rem;
    border: var(--standard-border);
    border-right: none; /* to prevent double borders with message preview */
    background-color: var(--muted-bgcolor);
}

#messagepreview {
    grid-column: 3 / 4;
    grid-row: 2 / 3;

    overflow: auto;
    resize: horizontal;
}

/* accountnav ------------- */

#emailcontrols {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-m);
}
/* This trick makes the last element in the flex container be right aligned as its left margin will expand to take up available space */
#emailcontrols #email-paging-controls {
    margin-left: auto;
}

/*  Tri-State icon swapping for select all emails control.
    It's a bit nasty.
    CSS nesting would be really nice here */
#select-all-mail-checkbox[aria-checked='true'] svg.bi-check-some-square,
#select-all-mail-checkbox[aria-checked='true'] svg.bi-square{
    display: none;
}
#select-all-mail-checkbox[aria-checked='true'] svg.bi-check-square {
    display: inline-block;
}

#select-all-mail-checkbox[aria-checked='false'] svg.bi-check-some-square,
#select-all-mail-checkbox[aria-checked='false'] svg.bi-check-square {
    display: none;
}
#select-all-mail-checkbox[aria-checked='false'] svg.bi-square {
    display: inline-block;
}

#select-all-mail-checkbox[aria-checked='mixed'] svg.bi-square,
#select-all-mail-checkbox[aria-checked='mixed'] svg.bi-check-square {
    display: none;
}
#select-all-mail-checkbox[aria-checked='mixed'] svg.bi-check-some-square {
    display: inline-block;
}


#selected-email-actions {
    display: flex;
    gap: var(--gap-m);
    align-items: center;
}

#move-emails-dialog {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: var(--dialog-padding-top) var(--dialog-padding-other) var(--dialog-padding-other) var(--dialog-padding-other);
    border: none;
}

#movefolders {
    margin-bottom: var(--gap-m);
    max-height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);
}

#email-paging-controls {
    display: inline-block;
}

#pagination-status {
    display: inline-block;
}

#emailpagination {
    display: inline-block;
}

/* account folders ------- */
#folderlist a {
    display: flex;
    align-items: center;

    padding-left: var(--gap-l);
    padding-right: var(--gap-xl);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}


/* email headers --------- */
.emailgroup {
    padding: var(--gap-m) var(--gap-l);
    background: var(--muted-bgcolor);
}

.emailheader {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: min-content min-content min-content;
    column-gap: var(--gap-m);

    padding: var(--gap-m) var(--gap-l);
    border: 1px solid transparent;
    border-bottom: 1px solid lightgray;
    background-color: var(--highlighted-bgcolor);

    text-decoration: none;
}

.emailheader,
.emailheader:active {
    color: var(--text-color);
}

.emailheader:hover {
    background-color: var(--selected-bgcolor);
}

.emailheader.active {
    background-color: var(--selected-bgcolor);
    color: var(--selected-color);
}

.emailheader:active button.iconbutton {
    border-color: var(--selected-color);
}

.emailheader .iconbutton {
    border: none;
    padding: var(--gap-s);
}


.emailselection {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

.fromname {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    width: 100%;
}

.date-and-actions {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    min-width: 4.5rem;
}

.date-and-actions .date {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.emailheader:hover .date {
    display: none;
}

.date-and-actions .emailactions {
    display: none;
}

.emailheader:hover .emailactions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--gap-m);
}

.fromname,
.subjectline,
.bodyline {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.subjectline {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.bodyline {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    color: var(--muted-text-color);
}

.emailstar {
    grid-column: 3 / 4;
    grid-row: 3 / 4;

    display: flex;
    justify-content: right;
    align-items: center;
}

.emailheader.read .fromname,
.emailheader.read .subjectline {
    font-weight: bold;
}

/* Double media query coming up: since we don't have container queries in Firefox
   yet I need to set a special class on the messagelist when the message preview
   is shown so we can do two separate media queries: one to determine when to show
   one line message headers when the preview is showing and one where it isn't showing. */
@media screen and (min-width: 1200px) {
    .emailheader {
        grid-template-columns: min-content min-content min-content min-content 1fr min-content;
        grid-template-rows: min-content;
    }

    .emailheader  .emailselection {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .emailheader .emailstar {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .emailheader .fromname {
        grid-column: 3 / 4;
        grid-row: 1 / 2;

        width: 11rem;
    }

    .emailheader .subjectline {
        grid-column: 4 / 5;
        grid-row: 1 / 2;
    }

    .emailheader .bodyline {
        grid-column: 5 / 6;
        grid-row: 1 / 2;
    }

    .emailheader .date-and-actions {
        grid-column: 6 / 7;
        grid-row: 1 / 2;
    }

}

@media screen and (min-width: 800px) {
    .emailheader {
        grid-template-columns: min-content min-content min-content min-content 1fr min-content;
        grid-template-rows: min-content;
    }

    .emailheader  .emailselection {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .emailheader .emailstar {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .emailheader .fromname {
        grid-column: 3 / 4;
        grid-row: 1 / 2;

        width: 11rem;
    }

    .emailheader .subjectline {
        grid-column: 4 / 5;
        grid-row: 1 / 2;
    }

    .emailheader .bodyline {
        grid-column: 5 / 6;
        grid-row: 1 / 2;
    }

    .emailheader .date-and-actions {
        grid-column: 6 / 7;
        grid-row: 1 / 2;
    }

}


#messagepreview {
    position: relative;
    /* 1 viewport width is 1% of the viewport width */
    width: 50vw;
    min-width: 16rem;
    height: 100%;
    padding: 0;
    overflow: hidden;
}


#messagepreview iframe {
    border: none;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}
