/* CSSS reset from  https://www.joshwcomeau.com/css/custom-css-reset/ */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
    margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
    height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas {
    display: block;
    max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
    font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}

/* Custom Properties --------  */

:root {
    --text-color: #333;
    --muted-text-color: #666;
    --body-text-color: #666;

    --muted-bgcolor: #f5f5f5;
    --highlighted-bgcolor: white;

    --disabled-text-color: gray;
    --selected-color: var(--text-color);
    --selected-bgcolor: rgba(144, 184, 245, 0.7); /* #566bac; */
    --hover-bgcolor: darkgray;
    --hover-color: white;

    --button-bgcolor: white;
    --button-pressed-color: var(--selected-color);
    --button-pressed-bgcolor: #d5d5d5;
    --button-border-color: #d5d5d5;

    --shadow-color: 0deg 0% 58%;
    --shadow-elevation-medium: 2px 4px 8px hsl(var(--shadow-color) / 0.5);
    --hover-shadow:
            0 1px 2px 0 rgba(60,64,67,.3),
            0 1px 3px 1px rgba(60,64,67,.15);
    /*--hover-shadow:*/
    /*        inset 1px 0 0 #dadce0,*/
    /*        inset -1px 0 0 #dadce0,*/
    /*        0 1px 2px 0 rgba(60,64,67,.3),*/
    /*        0 1px 3px 1px rgba(60,64,67,.15);*/

    --standard-border: 1px solid lightgray;

    --gap-s: 3px;
    --gap-m: 6px;
    --gap-l: 12px;
    --gap-xl: 24px;

    --dialog-padding-top: 36px;
    --dialog-padding-other: 24px;

}

/* General Style overrides ----- */

body {
    background-color: var(--muted-bgcolor);
    font-family: sans-serif; /* do I even want to force sans-serif on the usr? do I want to get even more opinionated and even includea font? unsure */
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 24px;
}

nav > ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
}
nav > ul > li {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
}

input[type=text],
input[type=search],
textarea {
    border: var(--standard-border);
    padding: var(--gap-s) var(--gap-m);
}

button {
    border: 1px solid var(--button-border-color);
    border-radius: 3px;
    background-color: var(--button-bgcolor);
    padding: var(--gap-s) var(--gap-m);
    display: flex;
    align-items: center;
    gap: var(--gap-m);
}

button[aria-pressed=true] {
    color: var(--button-pressed-color);
    background-color: var(--button-pressed-bgcolor);
    border-color: var(--button-border-color);
}

button:hover {
    /* TODO figure out a nice hover on button effect */
}

dialog,
.has-submenu ul {
    background: var(--highlighted-bgcolor);
    box-shadow: var(--shadow-elevation-medium);
    border: var(--standard-border);
}

/* submenus are position specifically */
.has-submenu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--highlighted-bgcolor);
    /* We need to set the z-index explicitly so the background is visible*/
    z-index: 1;
}

.has-submenu ul li {
    padding: var(--gap-s) var(--gap-m);
}

.has-submenu.open ul  {
    display: block;
}

.has-submenu.open ul a {
    display: inline-block;
}

/* icon-link component ------ */
a[aria-disabled="true"] {
    color: var(--disabled-text-color);
    pointer-events: none;
}

a.iconlink {
    display: flex;
    align-items: center;
    padding: var(--gap-m) var(--gap-m);
}

a.iconlink svg {
    margin-right: var(--gap-m);
}

a.iconlink.selected {
    color: var(--selected-color);
    background-color: var(--selected-bgcolor);
}

form.dialogcloser {
    position: absolute;
    right: var(--gap-m);
    top: var(--gap-m);
}


/* Main Layout --------  */

/* The header takes the space at the top and the main content expands to fill the rest vertically */
body.folderpage,
body.homepage {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
}

body.folderpage main,
body.homepage main {
    /*Make it fill the entire space*/
    flex: 2;

    /*Needed to make sure we can put scrollable elements in our layout later*/
    overflow: hidden;
}


/* header -------- */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: var(--gap-m);
    /*border-bottom: 1px dashed gray;*/
}

#toggle-folderlist-button {
    margin-right: var(--gap-m);
}

#searchemailform {
    display: flex;
    align-items: center;
    margin: 0 var(--gap-l);
}

li.has-submenu a {
    padding: var(--gap-m) var(--gap-l);
}

header #apptitle {
    flex-grow: 1;
}

#newmail-composer-dialog {
    /* position in bottom right corner by default */
    bottom: 0;
    right: 36px;
    left: auto;
    min-width: 60ch;
    min-height: 60ch;
    padding: var(--dialog-padding-top) var(--dialog-padding-other) var(--dialog-padding-other) var(--dialog-padding-other);
    /* make sure it is on top of the message  preview dialog */
    z-index: 10;
}

#newmail-composer-dialog.minimized {
    min-width: 40ch;
    min-height: 11ch;
}

#newmail-composer-frame {
    border: none;
    /* if the iframe does not have position absolute it will not fill the full width or height of the container */
    position: absolute;
    /* Since we are position absolute, the 100% does not take into account the padding of the container,  we need to deduct that manually */
    width: calc(100% - var(--dialog-padding-other) - var(--dialog-padding-other));
    height: calc(100% - var(--dialog-padding-top) - var(--dialog-padding-other));
}

/* ---- Notifications ---- */
.validation-errors,
.info-notification {
    padding: var(--gap-m);
    border-radius: 3px;
}

.validation-errors {
    border: 1px solid darkred;
    color: darkred;
    background-color: #eabdbd;
}

.info-notification {
    border: 1px solid darkblue;
    color: darkblue;
    background-color: lightblue;
}

.emptycollection {
    padding: var(--gap-m);
    text-align: center;
    color: var(--muted-text-color);
}
