/* CSSS reset from  https://www.joshwcomeau.com/css/custom-css-reset/ */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
    margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
    height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas {
    display: block;
    max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
    font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}

/* Custom Properties --------  */

:root {
    --disabled-text-color: gray;
    --selected-color: white;
    --selected-bgcolor: black;
    --hover-bgcolor: darkgray;
    --hover-color: white;
    --text-color: #333;
    --body-text-color: #666;
    --button-bgcolor: white;
    --button-pressed-color: white;
    --button-pressed-bgcolor: black;
}


/* General Style overrides ----- */

h1 {
    font-size: 26px;
}

h2 {
    font-size: 24px;
}

nav > ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
}
nav > ul > li {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
}

button {
    border: 1px solid var(--text-color);
    border-radius: 3px;
    background-color: var(--button-bgcolor);
    padding: 3px 6px;
    display: flex;
    align-items: center;
    gap: 6px;
}

button[aria-pressed=true] {
    color: var(--button-pressed-color);
    background-color: var(--button-pressed-bgcolor);
    border-color: var(--button-pressed-color);
}

button:hover {
    /* TODO figure out a nice hover on button effect */
}

dialog,
.has-submenu ul {
    background: white;
    --shadow-color: 0deg 0% 58%;
    --shadow-elevation-medium: 2px 4px 8px hsl(var(--shadow-color) / 0.5);
    box-shadow: var(--shadow-elevation-medium);
}

/* submenus are position specifically */
.has-submenu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    /* We need to set the z-index explicitly so the background is visible*/
    z-index: 1;
}

.has-submenu ul li {
    padding: 3px 6px;
}

.has-submenu.open ul  {
    display: block;
}

.has-submenu.open ul a {
    display: inline-block;
}

/* icon-link component ------ */
a[aria-disabled="true"] {
    color: var(--disabled-text-color);
}

a.iconlink {
    display: flex;
    align-items: center;
    padding: 6px 6px;
}

a.iconlink svg {
    margin-right: 6px;
}

a.iconlink.selected {
    color: var(--selected-color);
    background-color: var(--selected-bgcolor);
}


form.dialogcloser {
    position: absolute;
    right: 6px;
    top: 6px;
}


/* Main Layout --------  */

/* The header takes the space at the top and the main content expands to fill the rest vertically */
body.folderpage,
body.homepage {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
}

body.folderpage main,
body.homepage main {
    /*Make it fill the entire space*/
    flex: 2;

    /*Needed to make sure we can put scrollable elements in our layout later*/
    overflow: hidden;
}


/* header -------- */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px;
    /*border-bottom: 1px dashed gray;*/
}

#toggle-folderlist-button {
    margin-right: 6px;
}

#searchemailform {
    display: flex;
    align-items: center;
    margin: 0 12px;
}

li.has-submenu a {
    padding: 6px 12px;
}

header #apptitle {
    flex-grow: 1;
}

#newmail-composer-dialog {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 36px 24px 24px 24px;
    border: none;
}

#newmail-composer-frame {
    border: none;
}
