/* email viewer ------------ */

body {
    background-color: var(--highlighted-bgcolor);
}

.emailviewer main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content min-content min-content min-content min-content;
    row-gap: var(--gap-m);
    padding: var(--gap-l);
}

#emailsubject {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

#emailmetadata {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content min-content min-content min-content;

/* I would really like to use row-gap here but it does not collapse if an
   element is not present. Say that there are no BCC recipients but there are CC
   recipients, then we don't add the BCC div, but there will be a double gap between
   the To and CC recipients.
   The workaround is to set a top margin to all child descendants in the next
   selector. */
    /*row-gap: var(--gap-m);*/
}

#emailmetadata > * {
    margin: var(--gap-m) 0 0 0;
}

#emailmetadata #from {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

#emailmetadata #receiveddate {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    min-width: 14rem;

    display: flex;
    justify-content: right;
}

#emailmetadata #to {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#emailmetadata #bcc {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

#emailmetadata #cc {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

#emailactions {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;

    display: flex;
    gap: var(--gap-m);
    align-items: center;
    justify-content: space-between;
}

#emailactions > div,
#emailactions > form {
    display: flex;
    gap: var(--gap-m);
}

#emailimages {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;

    text-align: center;
}


#emailbody {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;

    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    width: 100%;
    height: 100%;
    padding: var(--gap-l) 0;
}

#emailbody > pre  {
    background-color: var(--highlighted-bgcolor);
    font-family: sans-serif;
    width: 100%;
    max-width: 66ch;
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/white-space
       white space sequences are preserved, breaking at box boundaries */
    white-space: pre-wrap;
}

#emailbody > iframe {
    width: 100%;
    max-width: 66ch;
    background-color: var(--highlighted-bgcolor);
    margin: auto;
    overflow: hidden;
    border: none;
}

#emailattachments {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
}

#emailbottomactions {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 8;
}
